// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#question{
margin: 10px 20px;
padding-left: 15px;
padding-bottom: 10px;
border: 1px solid black;
}
#answer{
margin: 10px 20px;
padding-left: 15px;
padding-top: 10px;
padding-bottom: 10px;
background-color: #FEFCE1;
border: 1px solid black;
}
